.header-wrapper {
    font-family: cursive,Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 a;
}


.header-text {
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-size: 2em;
    color: rgb(87, 112, 221);
    margin: 0 auto;
}


.header-image {
    width: 250px;
    height: 250px;
}