.item-wrapper {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.itemName {
    font-size: 20px;
    letter-spacing: 3px;
    font-family: cursive,Arial, Helvetica, sans-serif
}

.itemQuantity {
    font-size: 20px;
    color: var(--ligthPurple);
}